
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Glanz</title>


<!-- Favicon -->
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

<!-- Library CSS -->
<link href="css/glanz_library.css" rel="stylesheet">

<!-- Icons CSS -->
<link href="fonts/themify-icons.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="css/glanz_style.css" rel="stylesheet">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Dosis:300,400,600,700%7COpen+Sans:300,400,700%7CPlayfair+Display:400,400i,700,700i" rel="stylesheet">

<!-- Other Fonts -->
<link href="fonts/marsha/stylesheet.css" rel="stylesheet">



</head>
<body class="gla_middle_titles">


<!-- Page -->
<div class="gla_page gla_image_bck" data-image="images/wedding_m/sweet-ice-cream-photography-87191.jpg" id="gla_page" >

<!-- Over -->
<div class="gla_over" data-color="#3d0402" data-opacity="0.3"></div>
    
    
    <!-- To Top -->
    <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a>

    <!-- To Top -->
    <a href="#gla_page" class="gla_top ti ti-angle-up gla_go"></a>

    <!-- Music -->
    <div class="gla_music_icon">
        <i class="ti ti-music"></i>
    </div>
    <div class="gla_music_icon_cont">
        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/108238095&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
    
    <!-- Header -->
    <header>       

        
    
        <nav class="gla_light_nav gla_transp_nav">

            <div class="container">
                
                <div class="gla_logo_container clearfix">
                    <img src="images/glanz_logo.png" alt="" class="gla_logo_rev">
                    <div class="gla_logo_txt">
                        <!-- Logo -->
                        <a href="/" class="gla_logo">Clark & Ann</a>
                        
                        <!-- Text Logo -->
                        <div class="gla_logo_und">10.08.2017</div>
                    </div>
                </div>

                <!-- Menu -->
                <div class="gla_main_menu gla_main_menu_mobile">
                    
                    <div class="gla_main_menu_icon">
                        <i></i><i></i><i></i><i></i>
                        <b>Menu</b>
                        <b class="gla_main_menu_icon_b">Back</b>
                    </div>
                </div>
                
                <!-- Menu Content -->
                <div class="gla_main_menu_content gla_image_bck" data-color="rgba(0,0,0,0.9)" data-image="images/wedding_m/sweet-ice-cream-photography-87191.jpg">
                    <!-- Over -->
                    <div class="gla_over" data-color="#000" data-opacity="0.7"></div>
                </div>

               
            </div>
            <!-- container end -->
        </nav>
        
    </header>
    <!-- Header End -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">

        <div class="gla_invitation_container">
            <div class="gla_invitation_i gla_invitation_ii gla_image_bck" data-image="images/back4.jpg">
                
                <p><img src="images/save_the_date_red.gif" alt="" height="240"></p>
                <br><br>
                <h2>Kevin & Julie</h2>
                <h4>10 Aug</h4>
                <h4>St. Thomas's Church, Bristol</h4>
            </div>
        </div>

    </section>
    <!-- Content End -->

</div>
<!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script> 
<!-- Library JS -->
<script src="js/glanz_library.js"></script> 

<!-- Theme JS -->
<script src="js/glanz_script.js"></script>


</body>
</html>