<?xml version="1.0"?>
<connectionStrings>

  <!--<add name="AccuITAdminEntities" 
       connectionString="metadata=res://*/EDMX.AccuITAdmin.csdl|res://*/EDMX.AccuITAdmin.ssdl|res://*/EDMX.AccuITAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.60;initial catalog=CRMBizz;integrated security=False;user id=CRMBizz;password=Krishna@2012;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
  <add name="AccuIT_DB_Connection" providerName="System.Data.SqlClient" connectionString="Data Source=184.168.194.60;Initial Catalog=CRMBizz;Integrated Security=False;User ID=CRMBizz;Password='Krishna@2012';" />-->


  <add name="AccuITAdminEntities"
       connectionString="metadata=res://*/EDMX.AccuITAdmin.csdl|res://*/EDMX.AccuITAdmin.ssdl|res://*/EDMX.AccuITAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEER92D2;initial catalog=DreamWedds;integrated security=False;user id=DreamWedds;password=Krishna@17;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
  <add name="AccuIT_DB_Connection" providerName="System.Data.SqlClient" connectionString="Data Source=NEERAJ;Initial Catalog=DreamWedds;Integrated Security=True;User ID=DreamWedds;Password='Krishna@17';" />

</connectionStrings>
