<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Samsung.SmartDost.CommonLayer.Aspects.DTO.MOM">
                <endpoint address="" binding="basicHttpBinding" contract="Samsung.SmartDost.CommonLayer.Aspects.DTO.IMOM">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Samsung.SmartDost.CommonLayer.Aspects.DTO/MOM/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>

  <appSettings>
    <!--<Begin> Forget Password -->
    <add key="ForgotPasswordURL" value="http://{0}/Account/ChangePassword" />
    <add key="FotgotPasswordAttempts" value="30" />
    <add key="OTPExirationHrs" value="24" />
    <add key="LastAttemptDuration" value="00:00:01" />
    <!--Format hh:mm:ss -->
    <!--<End> Forget Password -->
    <add key="HostName" value="localhost" />
    <add key="EncryptionInitVector" value="28smartdost12ggn" />
    <add key="EncryptionSaltKey" value="SmartDost" />
    <add key="FromName" value="AccuIT" />
    <add key="fromEmail" value="neer19ultimate@gmail.com" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpPort" value="25" />
    <add key="smtpUserName" value="neer19ultimate@gmail.com" />
    <add key="smtpPassword" value="Krishna_2012" />
    <add key="FileProcessorURL" value="http://{0}/SmartDostService/FileProcessor.ashx?id={1}{2}type={3}" />
    <add key="HostName" value="localhost" />
    <add key="GoogleAndroidLoginURL" value="https://www.google.com/accounts/ClientLogin?" />
    <add key="GoogleAndroidMessageURL" value="https://android.googleapis.com/gcm/send" />
    <add key="PushRegistrationServerKey" value="AIzaSyAL_xRZeA_96yPT2jdT61zFlHvTDJMSfZ8" />
    <add key="GeoTagCountThreshold" value="3" />
    <add key="EncryptionInitVector" value="28smartdost12ggn" />
    <add key="EncryptionSaltKey" value="SmartDost" />
    <add key="SamsungDMSConnection" value="SmartDost_DBSync_Connection" />
    <add key="SchedulerConfigFile" value="Config\Quartz_Job_Scheduling.xml" />
    <add key="EncryptionDictionary" value="Config\DictionaryEncryption.xml" />
    <add key="ReportFileFolder" value="ReportFiles" />

    <!--"For Live Deployement;-->
    <add key="FromEmail" value="info@dreamwedds.com" />
    <add key="Password" value="Krishna@17" />
    <add key="SMTPHost" value="relay-hosting.secureserver.net" />
    <!--"smtp-relay.gmail.com";-->
    <add key="SMTPPort" value="25" />
    <add key="IsSSL" value="N" />
    <add key="CCAddress" value="" />

    <!--"For Debugging Mode;-->

    <add key="IsDebugMode" value="Y" />

    <add key="DbugFromEmail" value="thedreamwedds@gmail.com" />
    <add key="DbugFromPass" value="Krishna@17" />
    <add key="DbugToEmail" value="thedreamwedds@gmail.com" />
    <add key="Password" value="Krishna@17" />
    <add key="DbugSMTPHost" value="smtp.gmail.com" />
    <add key="DbugSMTPPort" value="587" />
    <add key="DbugIsSSL" value="Y" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
