<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />

  <add key="CompanyName" value="DreamWedds"/>
  <add key="CompanyWebsite" value="http://test.dreamwedds.com"/>
  <add key="CompanyLogoURL" value="~/content/images/logos/PinkName.png"/>

  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="WelcomeLoginURL" value="http://accuit.in/account/register/?identifier="/>
  <!--" Discount in Percentage-->
  <add key="DreamWeddsDiscount" value="0"/>
  <!--"For Live Deployement;-->
  <add key="FromName" value="The DreamWedds"/>
  <add key="FromEmail" value="info@dreamwedds.com"/>
  <add key="Password" value="Krishna@17"/>
  <add key="SMTPHost" value="relay-hosting.secureserver.net"/>
  <!--"smtp-relay.gmail.com";-->
  <add key="SMTPPort" value="25"/>
  <add key="IsSSL" value="N"/>
  <add key="CCAddress" value=""/>
  <!--"For Debugging Mode;-->
  <add key="IsDebugMode" value="N"/>
  <add key="DebugFromName" value="Dream Wedds"/>
  <add key="DbugFromEmail" value="thedreamwedds@gmail.com"/>
  <add key="DbugFromPass" value="Krishna@17"/>
  <add key="DbugToEmail" value="thedreamwedds@gmail.com"/>
  <add key="Password" value="Krishna@17"/>
  <add key="DbugSMTPHost" value="smtp.gmail.com"/>
  <add key="DbugSMTPPort" value="587"/>
  <add key="DbugIsSSL" value="Y"/>
  <add key="DebugWelcomeLoginURL" value="http://localhost/WebAdmin/account/register/?identifier="/>
  <add key="EmailTemplatePath" value="C:\Users\Neer\Documents\My Work\Development Projects\Running Projects\DreamWeddsProject\PresentationLayer.DreamWedds.Web\PresentationLayer.DreamWedds.Web\EmailTemplates\IE\EmailTemplates.xml"/>

  <add key="WeddingTemplatePath" value="http://dreamwedds.com/Templates/Wedding/"/>  
  
  <add key="EncryptionInitVector" value="28smartdost12ggn"/>
  <add key="EncryptionSaltKey" value="SmartDost"/>
  <add key="SamsungDMSConnection" value="SmartDost_DBSync_Connection"/>
  <add key="SchedulerConfigFile" value="Config\Quartz_Job_Scheduling.xml"/>
  <add key="EncryptionDictionary" value="Config\DictionaryEncryption.xml"/>

</appSettings>

