<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <log4net debug="true" info="true" error="true" warn="true">
    <root>
      <level value="ALL" />
    </root>
    <logger name="DREAMWEDDS">
      <level value="DEBUG" />
      <appender-ref ref="EshotProcessorAppender" />
    </logger>
    <appender name="EshotProcessorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\\DreamWedds.log" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="100" />
      <param name="maximumFileSize" value="10MB" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings configSource="Config\Connection.config" />
  <loggingConfiguration configSource="Config\Logging.config" />
  <exceptionHandling configSource="Config\ExceptionPolicies.config" />
  <dataConfiguration defaultDatabase="SmartDost_DBSync_Connection" />
  <appSettings configSource="Config\App.config" />

  <system.web>
    <trust level="Full" />
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="AccuIT.PresentationLayer.ServiceApp.CORSEnablingBehavior,                  AccuIT.PresentationLayer.ServiceApp, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQueryService" maxReceivedMessageSize="999994836470" transferMode="Streamed" messageEncoding="Mtom" />
        <binding name="ServiceSoap" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="poxwebBinding" maxReceivedMessageSize="999994836470" maxBufferSize="2147483647" transferMode="Streamed" maxBufferPoolSize="2147483647" />
        <binding name="jsonwebBinding" receiveTimeout="00:10:00" maxReceivedMessageSize="999999836470" maxBufferSize="247483647" transferMode="Streamed" maxBufferPoolSize="99994836470" />
      </webHttpBinding>
      <customBinding>
        <binding name="testBinding" receiveTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00">
          <webMessageEncoding webContentTypeMapperType="AccuIT.CommonLayer.Aspects.Module.JsonContentMapper, AccuIT.CommonLayer.Aspects" />
          <httpTransport manualAddressing="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DreamWeddsServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="poxBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Xml" />
          <!--<crossOriginResourceSharingBehavior/>-->
        </behavior>
        <behavior name="jsonBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" />
          <!--<crossOriginResourceSharingBehavior/>-->
        </behavior>
        <behavior name="web">
          <webHttp />
          <!--<crossOriginResourceSharingBehavior/>-->
        </behavior>
        <behavior name="mex" />
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="AccuIT.PresentationLayer.ServiceImpl.DreamWedds" behaviorConfiguration="DreamWeddsServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="poxwebBinding" behaviorConfiguration="web" contract="AccuIT.PresentationLayer.ServiceImpl.IDreamWedds" />
        <endpoint address="json" behaviorConfiguration="jsonBehavior" binding="customBinding" bindingConfiguration="testBinding" contract="AccuIT.PresentationLayer.ServiceImpl.IDreamWedds" />
        <endpoint address="web" binding="basicHttpBinding" contract="AccuIT.PresentationLayer.ServiceImpl.IDreamWedds" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <!--<client>
      <endpoint address="http://107.110.101.89/QueryService/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQueryService" contract="QueryService.IQueryService"
                name="BasicHttpBinding_IQueryService"/>
      <endpoint address="http://107.110.101.89/SDIntegrationQA/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="SDIntegrationService.ServiceSoap"
                name="ServiceSoap"/>
    </client>-->
  </system.serviceModel>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>-->
    <httpErrors errorMode="Detailed"></httpErrors>
    
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add path="FileProcessor.ashx" verb="*" type="AccuIT.CommonLayer.Aspects.Module.FileProcessor, AccuIT.CommonLayer.Aspects" name="FileProcessor" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="false">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="E:\Project Documents\SamsungDost\Deployment\WCFTrace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>