USE [master]
GO
/****** Object:  Database [DreamWedds]    Script Date: 18/03/19 10:28:56 PM ******/
CREATE DATABASE [DreamWedds]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DreamWedds', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DreamWedds.mdf' , SIZE = 9216KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DreamWedds_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DreamWedds_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DreamWedds].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DreamWedds]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 18/03/19 10:28:56 PM ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DreamWedds]    Script Date: 18/03/19 10:28:56 PM ******/
CREATE USER [DreamWedds] FOR LOGIN [DreamWedds] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_owner] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [DreamWedds]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [DreamWedds]
GO
/****** Object:  UserDefinedFunction [dbo].[DecryptStr]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[DecryptStr](@EncyptedString VARCHAR(400))
Returns VARCHAR(200)
AS
BEGIN
/*Declare Initial Variable(s) and table(s)*/
DECLARE @DecyptedString VARCHAR(200)
DECLARE @EncDecTbl TABLE
(
   ID INT IDENTITY,
   CharacterValue VARCHAR(5),
   EncryptedValue VARCHAR(5)
)
IF(@EncyptedString IS NOT NULL AND @EncyptedString<>'')
BEGIN

   DECLARE @Counter INT
   DECLARE @Characterlength INT

   --:: Set length for character set as per dictionary
   SET @Characterlength=2 
   
   --:: reverse string
   SET @EncyptedString=REVERSE(@EncyptedString)
   SET @Counter=1

   --:: Insert set of characters list into table variable after spliting the string
   WHILE(@Counter<=LEN(@EncyptedString))
   BEGIN
      INSERT INTO @EncDecTbl (EncryptedValue) 
      VALUES (SUBSTRING(@EncyptedString,@Counter,@Characterlength))   
      SET @Counter=@Counter+@Characterlength   
   end

   --:: Update plain character with respect to encrypted set of characters in table variable
   UPDATE A 
     SET A.CharacterValue=B.CharacterValue
     FROM @EncDecTbl A
     Inner Join dbo.DictionaryEncryptDecrypt B with (nolock)
     ON A.EncryptedValue COLLATE Latin1_General_CS_AS =B.EncryptedValue COLLATE Latin1_General_CS_AS
    
    --:: Merge rows into a string
    SELECT @DecyptedString=
        (
         SELECT CharacterValue
          FROM @EncDecTbl
           FOR XML PATH(''),type
       )
       .value('.','VARCHAR(200)') 
END
  Return @DecyptedString
End

GO
/****** Object:  Table [dbo].[AddressMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AddressMaster](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[Address1] [varchar](250) NULL,
	[Address2] [varchar](250) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](50) NOT NULL,
	[Country] [int] NOT NULL,
	[PinCode] [int] NOT NULL,
	[AddressType] [int] NULL,
	[AddressStatus] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[UserID] [int] NULL,
	[AddressOwnerType] [int] NULL,
	[AddressOwnerTypePKID] [int] NULL,
	[VenueID] [int] NULL,
	[Lattitude] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BrideAndMaid]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BrideAndMaid](
	[BrideAndMaidID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](150) NOT NULL,
	[LastName] [varchar](150) NOT NULL,
	[DateofBirth] [datetime] NULL,
	[WeddingID] [int] NOT NULL,
	[IsBride] [bit] NOT NULL,
	[RelationWithBride] [int] NULL,
	[Imageurl] [varchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[AboutBrideMaid] [varchar](500) NULL,
	[IsDeleted] [bit] NULL,
	[fbUrl] [varchar](1500) NULL,
	[googleUrl] [varchar](1500) NULL,
	[instagramUrl] [varchar](1500) NULL,
	[lnkedinUrl] [varchar](1500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrideAndMaidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommonSetup]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CommonSetup](
	[CommonSetupID] [int] IDENTITY(1,1) NOT NULL,
	[MainType] [varchar](50) NOT NULL,
	[SubType] [varchar](50) NOT NULL,
	[DisplayText] [varchar](150) NOT NULL,
	[DisplayValue] [int] NOT NULL,
	[ParentID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[isDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommonSetupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Code] [varchar](50) NULL,
	[DivisionID] [int] NOT NULL,
 CONSTRAINT [PK_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DailyLoginHistory]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DailyLoginHistory](
	[DailyLoginID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CustomerID] [int] NULL,
	[SessionID] [varchar](200) NULL,
	[IpAddress] [varchar](50) NULL,
	[BrowserName] [varchar](30) NULL,
	[LoginType] [int] NULL,
	[LogOutTime] [datetime] NULL,
	[LoginTime] [datetime] NULL,
	[IsLogin] [bit] NOT NULL,
	[ApkDeviceName] [varchar](50) NULL,
	[APKVersion] [varchar](7) NULL,
	[Lattitude] [varchar](50) NULL,
	[Longitude] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DailyLoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DreamWeddsBlog]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DreamWeddsBlog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[BlogName] [varchar](150) NOT NULL,
	[Title] [varchar](500) NOT NULL,
	[BlogSubject] [varchar](250) NULL,
	[Quote] [varchar](500) NULL,
	[AuthorName] [varchar](50) NULL,
	[Content] [varchar](max) NOT NULL,
	[ImageUrl] [varchar](1500) NULL,
	[SpecialNote] [varchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_DreamWeddsBlog] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ECampaign]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ECampaign](
	[ECampaignID] [int] IDENTITY(1,1) NOT NULL,
	[ECampaignName] [varchar](100) NULL,
	[ECampaignSubject] [varchar](250) NULL,
	[ECampaignLogoUrl] [varchar](550) NULL,
	[TemplateID] [int] NOT NULL,
	[ECampaignContent] [varchar](max) NULL,
	[Status] [int] NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Created_Date] [datetime] NOT NULL,
	[Created_By] [int] NOT NULL,
	[Modified_Date] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Is_Deleted] [bit] NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ECampaignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmailService]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmailService](
	[EmailServiceID] [bigint] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[FromEmail] [varchar](250) NOT NULL,
	[FromName] [varchar](150) NOT NULL,
	[ToName] [varchar](150) NOT NULL,
	[ToEmail] [varchar](250) NOT NULL,
	[CcEmail] [varchar](250) NULL,
	[BccEmail] [varchar](250) NULL,
	[Subject] [varchar](300) NOT NULL,
	[Body] [varchar](max) NOT NULL,
	[Mobile] [varchar](15) NULL,
	[Phone] [varchar](15) NULL,
	[Message] [varchar](500) NULL,
	[Location] [varchar](50) NULL,
	[IsHtml] [bit] NOT NULL,
	[Priority] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsAttachment] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[AttachmentFileName] [varchar](50) NULL,
	[Remarks] [varchar](250) NULL,
	[TemplateCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[Priority] [int] NOT NULL,
	[Severity] [int] NOT NULL,
	[Title] [varchar](150) NULL,
	[MachineName] [varchar](150) NULL,
	[AppDomainName] [varchar](150) NULL,
	[ProcessID] [varchar](150) NULL,
	[ProcessName] [varchar](150) NULL,
	[ThreadName] [varchar](150) NULL,
	[Win32ThreadId] [varchar](150) NULL,
	[Message] [varchar](max) NULL,
	[Timestamp] [datetime] NOT NULL,
	[FormattedMessage] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FAQ]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FAQ](
	[FAQID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [varchar](500) NOT NULL,
	[Answer] [varchar](1500) NOT NULL,
	[Website] [varchar](250) NOT NULL,
	[IsMainQue] [bit] NOT NULL,
	[sequence] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FAQID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GroomAndMen]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroomAndMen](
	[GroomAndMenID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](150) NOT NULL,
	[LastName] [varchar](150) NOT NULL,
	[DateofBirth] [datetime] NULL,
	[WeddingID] [int] NOT NULL,
	[IsGroom] [bit] NOT NULL,
	[RelationWithGroom] [int] NULL,
	[Imageurl] [varchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[AboutMen] [varchar](500) NULL,
	[IsDeleted] [bit] NULL,
	[fbUrl] [varchar](1500) NULL,
	[googleUrl] [varchar](1500) NULL,
	[instagramUrl] [varchar](1500) NULL,
	[lnkedinUrl] [varchar](1500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroomAndMenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoginAttemptHistory]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginAttemptHistory](
	[LoginAttemptID] [bigint] IDENTITY(1,1) NOT NULL,
	[FailedAttempt] [int] NULL,
	[UserID] [int] NOT NULL,
	[LoginDate] [datetime] NULL,
	[LastLoginDate] [datetime] NULL,
	[Lattitude] [varchar](30) NULL,
	[Longitude] [varchar](30) NULL,
	[IpAddress] [varchar](30) NULL,
	[Browser] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginAttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ModuleMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ModuleMaster](
	[ModuleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[ParentModuleID] [int] NULL,
	[ModuleCode] [int] NULL,
	[IsMobile] [bit] NOT NULL,
	[Sequence] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsSystemModule] [bit] NOT NULL,
	[Icon] [varchar](200) NULL,
	[IsStoreWise] [bit] NULL,
	[ModuleType] [int] NOT NULL,
	[ModuleDescription] [varchar](250) NOT NULL,
	[PageURL] [varchar](350) NOT NULL,
	[IsMandatory] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[Discount] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[OrderID] [int] NOT NULL,
	[TemplateID] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
	[SubscrptionID] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderMaster](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[RequiredDate] [datetime] NULL,
	[OrderStatus] [varchar](40) NULL,
	[AddressID] [varchar](60) NULL,
	[CGST] [int] NULL,
	[SGST] [int] NULL,
	[Discount] [int] NULL,
	[Amount] [money] NOT NULL,
	[ReceivedAmount] [money] NULL,
	[PaymentMode] [int] NULL,
	[PaymentTerms] [varchar](50) NULL,
	[OderNote] [varchar](250) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderMaster] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OTPMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OTPMaster](
	[OTPMasterID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OTP] [varchar](10) NOT NULL,
	[GUID] [varchar](150) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Attempts] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OTPMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionValue] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleMaster](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Type] [int] NULL,
	[Status] [int] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[RoleDescription] [varchar](250) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleModule]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleModule](
	[RoleModuleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[ModuleID] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[IsMandatory] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RSVPDetails]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RSVPDetails](
	[RSVPID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[IsComing] [bit] NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[GuestCount] [int] NULL,
	[PreferredFood] [tinyint] NOT NULL,
	[Email] [varchar](150) NULL,
	[Phone] [varchar](15) NULL,
	[Mobile] [varchar](15) NULL,
	[SpecialNote] [varchar](500) NULL,
	[ImageUrl] [varchar](500) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[WeddingID] [int] NOT NULL,
	[ParticipatingInEvents] [varchar](20) NULL,
	[ComingFromCity] [varchar](150) NULL,
	[PreferredStayIn] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK__RSVPDeta__BD17F2B6CBA70F2C] PRIMARY KEY CLUSTERED 
(
	[RSVPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubscriptionMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubscriptionMaster](
	[SubscriptionID] [int] IDENTITY(1,1) NOT NULL,
	[SubsType] [int] NOT NULL,
	[SubsName] [varchar](50) NOT NULL,
	[SubsCode] [varchar](5) NOT NULL,
	[Days] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[LogoutTime] [int] NOT NULL,
	[LoginFailedAttempt] [int] NOT NULL,
	[MaxLeaveMarkDays] [int] NOT NULL,
	[WeeklyOffDays] [varchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IdleSystemDay] [int] NOT NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplateImages]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [varchar](150) NOT NULL,
	[ImageTitle] [varchar](250) NULL,
	[ImageTagLine] [varchar](max) NULL,
	[ImageUrl] [varchar](1000) NULL,
	[ImageFolderPath] [varchar](1000) NOT NULL,
	[IsBannerImage] [bit] NOT NULL,
	[TemplateID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ImageType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplateMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateMaster](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [nvarchar](150) NOT NULL,
	[TemplateType] [int] NOT NULL,
	[TemplateStatus] [int] NOT NULL,
	[TemplateContent] [varchar](max) NOT NULL,
	[TemplateSubject] [varchar](250) NULL,
	[TemplateTags] [varchar](15) NULL,
	[TemplateUrl] [varchar](1000) NULL,
	[TemplateFolderPath] [varchar](500) NULL,
	[ThumbnailImageUrl] [varchar](1000) NULL,
	[TagLine] [varchar](500) NULL,
	[COST] [int] NULL,
	[AuthorName] [varchar](100) NULL,
	[AboutTemplate] [varchar](1000) NULL,
	[Features] [varchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBY] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[TemplateCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplateMergeFields]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateMergeFields](
	[PK_ID] [int] IDENTITY(1,1) NOT NULL,
	[MERGEFIELD_NAME] [varchar](50) NOT NULL,
	[SRC_FIELD] [varchar](150) NULL,
	[SRC_FIELD_VALUE] [varchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[TemplateID] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Sequence] [int] NULL,
	[TemplateCode] [int] NULL,
 CONSTRAINT [PK_TemplateMergeFields] PRIMARY KEY CLUSTERED 
(
	[PK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TemplatePages]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplatePages](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [varchar](150) NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[PageContent] [varchar](max) NOT NULL,
	[PageUrl] [varchar](500) NULL,
	[PageFolderPath] [varchar](500) NOT NULL,
	[ThumbnailImageUrl] [varchar](500) NULL,
	[TemplateID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TimeLine]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeLine](
	[TimeLineID] [int] IDENTITY(1,1) NOT NULL,
	[StoryDate] [datetime] NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[Story] [varchar](2000) NULL,
	[ImageUrl] [varchar](1000) NULL,
	[WeddingID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Location] [varchar](500) NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[TimeLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDevices]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDevices](
	[UserDeviceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[IMEINumber] [varchar](50) NULL,
	[LoginName] [varchar](150) NULL,
	[SenderKey] [varchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserDevices] PRIMARY KEY CLUSTERED 
(
	[UserDeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](40) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[isDeleted] [bit] NOT NULL CONSTRAINT [DF_UserMaster_IsDeleted]  DEFAULT ((0)),
	[LoginName] [varchar](150) NULL,
	[Password] [varchar](30) NULL CONSTRAINT [DF_UserMaster_Password]  DEFAULT ('_#^~!875(~$8'),
	[ImagePath] [varchar](750) NULL,
	[EmpCode] [varchar](20) NULL,
	[Email] [varchar](250) NULL,
	[AccountStatus] [int] NULL,
	[isActive] [bit] NOT NULL CONSTRAINT [UserMaster_IsActive]  DEFAULT ((1)),
	[SeniorEmpID] [int] NULL,
	[IsEmployee] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[Phone] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[CompanyId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoleModulePermission]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserRoleModulePermission](
	[UserRolePermissionID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleModuleID] [int] NULL,
	[UserID] [int] NULL,
	[ModuleID] [int] NULL,
	[PermissionID] [int] NOT NULL,
	[PermissionValue] [varchar](150) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRolePermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[UserID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserServiceAccess]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserServiceAccess](
	[ServiceAccessID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[APIKey] [varchar](50) NULL,
	[APIToken] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_UserServiceAccess_IsActive]  DEFAULT ((0)),
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
 CONSTRAINT [PK_UserServiceAccess] PRIMARY KEY CLUSTERED 
(
	[ServiceAccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserSystemSettings]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSystemSettings](
	[UserSystemID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[IsAPKLoggingEnabled] [bit] NOT NULL,
	[IsCoverageException] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CoverageExceptionWindow] [date] NULL,
 CONSTRAINT [PK_UserSystemSettings] PRIMARY KEY CLUSTERED 
(
	[UserSystemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserWeddingSubscriptions]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserWeddingSubscriptions](
	[UserWeddingSubscrptionID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[TemplateID] [int] NOT NULL,
	[InvoiceNo] [int] NULL,
	[WeddingID] [int] NULL,
	[SubscriptionType] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[ReasonOfUpdate] [varchar](500) NULL,
	[SubscriptionStatus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserWeddingSubscrptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venue]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Venue](
	[VenueID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[VenueImageUrl] [varchar](350) NULL,
	[VenueBannerImageUrl] [varchar](1000) NULL,
	[VenueWebsite] [varchar](500) NULL,
	[OwnerName] [varchar](50) NULL,
	[VenuePhone] [varchar](15) NULL,
	[VenueMobile] [varchar](15) NULL,
	[WeddingEventID] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[googleMapUrl] [varchar](1500) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK__Venue__3C57E5D2E738F202] PRIMARY KEY CLUSTERED 
(
	[VenueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WeddingEvents]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WeddingEvents](
	[WeddingEventID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[WeddingID] [int] NOT NULL,
	[ImageUrl] [varchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[Aboutevent] [varchar](1000) NULL,
	[BackGroundImage] [varchar](1000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WeddingEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WeddingGallery]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WeddingGallery](
	[WeddingGalleryID] [int] IDENTITY(1,1) NOT NULL,
	[ImageTitle] [varchar](250) NULL,
	[WeddingID] [int] NOT NULL,
	[ImageUrl] [varchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL DEFAULT ((0)),
	[ImageName] [varchar](50) NOT NULL,
	[DateTaken] [datetime] NULL,
	[Place] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[WeddingGalleryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Weddings]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Weddings](
	[WeddingID] [int] IDENTITY(1,1) NOT NULL,
	[WeddingDate] [datetime] NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[WeddingStyle] [int] NOT NULL,
	[IconUrl] [varchar](500) NULL,
	[TemplateID] [int] NULL,
	[IsLoveMarriage] [bit] NOT NULL CONSTRAINT [DF__Weddings__IsLove__4924D839]  DEFAULT ((0)),
	[UserID] [int] NULL,
	[IsDeleted] [bit] NOT NULL CONSTRAINT [DF_Weddings_IsDeleted]  DEFAULT ((0)),
	[IsActive] [bit] NOT NULL CONSTRAINT [DF_Weddings_IsActive]  DEFAULT ((1)),
	[BackgroundImage] [varchar](1000) NULL,
	[Quote] [varchar](500) NULL,
	[fbPageUrl] [varchar](1500) NULL,
	[videoUrl] [varchar](1500) NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WeddingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vwGetUserRoleModule]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwGetUserRoleModule]
AS SELECT m.ModuleID, m.Name, m.ParentModuleID, er.UserID, Max(m.ModifiedDate) As MaxModifiedDate, m.IsMandatory, m.ModuleCode, m.Icon, m.IsStoreWise, m.Sequence, m.PageURL, m.ModuleType, m.IsMobile, rm.IsDeleted
FROM ModuleMaster m 
INNER JOIN RoleModule rm ON (m.ModuleID = rm.ModuleID)
INNER JOIN UserRoles (NOLOCK) er ON (er.RoleID = rm.RoleID)
GROUP BY m.ModuleID, m.Name, m.ParentModuleID, er.UserID, m.IsMandatory, m.ModuleCode, m.Icon, m.IsStoreWise, m.Sequence, m.PageURL, m.ModuleType, m.IsMobile, rm.IsDeleted
 

GO
/****** Object:  View [dbo].[vwGetUserWeddingTemplates]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwGetUserWeddingTemplates]
AS SELECT  UM.UserID, UM.AccountStatus, O.OrderID, W.WeddingID, TM.TemplateID,O.OrderDate, US.UserWeddingSubscrptionID, O.Amount, O.OrderStatus, O.PaymentMode, O.Discount
,US.StartDate, US.EndDate,  US.SubscriptionType, US.SubscriptionStatus
,TM.TemplateName, TM.TemplateFolderPath, TM.ThumbnailImageUrl,  W.WeddingDate, W.Title, W.BackgroundImage
from UserMaster UM
INNER JOIN OrderMaster O ON O.UserID = UM.UserID and UM.isDeleted = 0 and UM.isActive = 1
INNER JOIN Orderdetail  OD ON O.OrderID = OD.OrderID AND OD.Isdeleted = 0
INNER JOIN TemplateMaster TM ON TM.TemplateID = OD.TemplateID AND TM.IsDeleted = 0
LEFT JOIN UserWeddingSubscriptions US ON US.TemplateID = TM.TemplateID AND US.IsDeleted = 0
LEFT JOIN Weddings W ON W.WeddingID = US.WeddingID  AND W.IsDeleted = 0


GO
ALTER TABLE [dbo].[OTPMaster] ADD  CONSTRAINT [DF__OTPMaster__Creat__2BE97B0D]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OTPMaster] ADD  DEFAULT ((0)) FOR [Attempts]
GO
ALTER TABLE [dbo].[UserSystemSettings] ADD  CONSTRAINT [DF_UserSystemSettings_IsAPKLoggingEnabled]  DEFAULT ((0)) FOR [IsAPKLoggingEnabled]
GO
ALTER TABLE [dbo].[UserSystemSettings] ADD  CONSTRAINT [DF_UserSystemSettings_IsCoverageException]  DEFAULT ((0)) FOR [IsCoverageException]
GO
ALTER TABLE [dbo].[UserSystemSettings] ADD  CONSTRAINT [DF_UserSystemSettings_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BrideAndMaid]  WITH CHECK ADD FOREIGN KEY([WeddingID])
REFERENCES [dbo].[Weddings] ([WeddingID])
GO
ALTER TABLE [dbo].[DailyLoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_DailyLoginHistory_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[DailyLoginHistory] CHECK CONSTRAINT [FK_DailyLoginHistory_UserMaster]
GO
ALTER TABLE [dbo].[GroomAndMen]  WITH CHECK ADD FOREIGN KEY([WeddingID])
REFERENCES [dbo].[Weddings] ([WeddingID])
GO
ALTER TABLE [dbo].[LoginAttemptHistory]  WITH CHECK ADD  CONSTRAINT [FK_LoginAttemptHistory_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[LoginAttemptHistory] CHECK CONSTRAINT [FK_LoginAttemptHistory_UserMaster]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_OrderMaster] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrderMaster] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_OrderMaster]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_SubscriptionMast] FOREIGN KEY([SubscrptionID])
REFERENCES [dbo].[SubscriptionMaster] ([SubscriptionID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_SubscriptionMast]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_TemplateMaster] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[TemplateMaster] ([TemplateID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_TemplateMaster]
GO
ALTER TABLE [dbo].[OrderMaster]  WITH CHECK ADD  CONSTRAINT [FK_OrderMaster_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[OrderMaster] CHECK CONSTRAINT [FK_OrderMaster_UserMaster]
GO
ALTER TABLE [dbo].[RoleModule]  WITH CHECK ADD  CONSTRAINT [FK_RoleModules_ModuleMaster] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[ModuleMaster] ([ModuleID])
GO
ALTER TABLE [dbo].[RoleModule] CHECK CONSTRAINT [FK_RoleModules_ModuleMaster]
GO
ALTER TABLE [dbo].[RoleModule]  WITH CHECK ADD  CONSTRAINT [FK_RoleModules_RoleMaster] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleMaster] ([RoleID])
GO
ALTER TABLE [dbo].[RoleModule] CHECK CONSTRAINT [FK_RoleModules_RoleMaster]
GO
ALTER TABLE [dbo].[RSVPDetails]  WITH CHECK ADD  CONSTRAINT [FK_RSVPDetails_Weddings] FOREIGN KEY([WeddingID])
REFERENCES [dbo].[Weddings] ([WeddingID])
GO
ALTER TABLE [dbo].[RSVPDetails] CHECK CONSTRAINT [FK_RSVPDetails_Weddings]
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD  CONSTRAINT [FK_SystemSettings_CompanyMaster] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[CompanyMaster] ([CompanyID])
GO
ALTER TABLE [dbo].[SystemSettings] CHECK CONSTRAINT [FK_SystemSettings_CompanyMaster]
GO
ALTER TABLE [dbo].[TemplateImages]  WITH CHECK ADD FOREIGN KEY([TemplateID])
REFERENCES [dbo].[TemplateMaster] ([TemplateID])
GO
ALTER TABLE [dbo].[TemplateMergeFields]  WITH CHECK ADD FOREIGN KEY([TemplateID])
REFERENCES [dbo].[TemplateMaster] ([TemplateID])
GO
ALTER TABLE [dbo].[TemplatePages]  WITH CHECK ADD FOREIGN KEY([TemplateID])
REFERENCES [dbo].[TemplateMaster] ([TemplateID])
GO
ALTER TABLE [dbo].[TimeLine]  WITH CHECK ADD FOREIGN KEY([WeddingID])
REFERENCES [dbo].[Weddings] ([WeddingID])
GO
ALTER TABLE [dbo].[UserDevices]  WITH CHECK ADD  CONSTRAINT [FK_UserDevices_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[UserDevices] CHECK CONSTRAINT [FK_UserDevices_UserMaster]
GO
ALTER TABLE [dbo].[UserMaster]  WITH CHECK ADD  CONSTRAINT [FK_UserMaster_CompanyMaster] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[CompanyMaster] ([CompanyID])
GO
ALTER TABLE [dbo].[UserMaster] CHECK CONSTRAINT [FK_UserMaster_CompanyMaster]
GO
ALTER TABLE [dbo].[UserRoleModulePermission]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleModulePermissions_RoleModules] FOREIGN KEY([RoleModuleID])
REFERENCES [dbo].[RoleModule] ([RoleModuleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoleModulePermission] CHECK CONSTRAINT [FK_UserRoleModulePermissions_RoleModules]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_RoleMaster] FOREIGN KEY([RoleID])
REFERENCES [dbo].[RoleMaster] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_RoleMaster]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_UserMaster]
GO
ALTER TABLE [dbo].[UserServiceAccess]  WITH CHECK ADD  CONSTRAINT [FK_UserServiceAccess_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[UserServiceAccess] CHECK CONSTRAINT [FK_UserServiceAccess_UserMaster]
GO
ALTER TABLE [dbo].[UserSystemSettings]  WITH CHECK ADD  CONSTRAINT [FK_UserSystemSettings_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[UserSystemSettings] CHECK CONSTRAINT [FK_UserSystemSettings_UserMaster]
GO
ALTER TABLE [dbo].[UserWeddingSubscriptions]  WITH CHECK ADD FOREIGN KEY([InvoiceNo])
REFERENCES [dbo].[OrderMaster] ([OrderID])
GO
ALTER TABLE [dbo].[UserWeddingSubscriptions]  WITH CHECK ADD FOREIGN KEY([SubscriptionType])
REFERENCES [dbo].[SubscriptionMaster] ([SubscriptionID])
GO
ALTER TABLE [dbo].[UserWeddingSubscriptions]  WITH CHECK ADD FOREIGN KEY([TemplateID])
REFERENCES [dbo].[TemplateMaster] ([TemplateID])
GO
ALTER TABLE [dbo].[UserWeddingSubscriptions]  WITH CHECK ADD FOREIGN KEY([WeddingID])
REFERENCES [dbo].[Weddings] ([WeddingID])
GO
ALTER TABLE [dbo].[Venue]  WITH CHECK ADD  CONSTRAINT [FK_Venue_WeddingEvents] FOREIGN KEY([WeddingEventID])
REFERENCES [dbo].[WeddingEvents] ([WeddingEventID])
GO
ALTER TABLE [dbo].[Venue] CHECK CONSTRAINT [FK_Venue_WeddingEvents]
GO
ALTER TABLE [dbo].[WeddingEvents]  WITH CHECK ADD FOREIGN KEY([WeddingID])
REFERENCES [dbo].[Weddings] ([WeddingID])
GO
ALTER TABLE [dbo].[WeddingGallery]  WITH CHECK ADD FOREIGN KEY([WeddingID])
REFERENCES [dbo].[Weddings] ([WeddingID])
GO
/****** Object:  StoredProcedure [dbo].[pr_tmp]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[pr_tmp](@val1 INT = NULL, @val2 INT = 11)
AS
Begin 
select @val1, @val2
END

GO
/****** Object:  StoredProcedure [dbo].[SPCheckAuthentication]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*** 
   Created Date      :     14-May-2015
   Created By        :     Dhiraj Mishra
   Purpose           :     To check the authentication of user
   
   Test Cases        :
   --------------------------------------------------------------------------   
   --- Test Case 1
    EXEC [SPCheckAuthentication] 'wrGxlga}mlGxGxroNDwvGx^$IAa}DxwnwnBu','>^$8^$baButnIAyqDxSO' 

   
***/
CREATE PROCEDURE [dbo].[SPCheckAuthentication] (	
	 @LoginName VARCHAR(150)
	,@Password VARCHAR(100)
	,@IMEINumber VARCHAR(50) = NULL
	,@lattitude VARCHAR(50) = NULL
	,@longitude VARCHAR(50) = NULL
	,@IpAddress VARCHAR(45) = NULL
	,@BrowserName VARCHAR(50) = NULL
	,@ApkDeviceName VARCHAR(50) = NULL
	,@APKVersion VARCHAR(7) = NULL
	,@LoginType TINYINT = NULL
	)
AS
BEGIN	
	/*
	Login Status in .Net
			None = 0,
            Active = 1,
            InActive = 2,
            Locked = 3,
            DaysExpire = 4,
            WrongPassword = 5,
            WrongIMEI = 6,
            MultipleIMEI = 7,
			WrongUserName = 9,
*/
	DECLARE @ImeiCount TINYINT = 0
	DECLARE @AuthStatus TINYINT = 0
	DECLARE @IMEITable TABLE (
		IEMINumber VARCHAR(50)
		,UserID INT
		)

	INSERT INTO @IMEITable
	SELECT ud.IMEINumber
		,ud.UserID
	FROM dbo.UserDevices ud(NOLOCK)
	WHERE ud.IMEINumber = @IMEINumber
		AND ud.IsDeleted = 0

	SELECT @ImeiCount = count(IEMINumber)
	FROM @IMEITable

	IF (@ImeiCount < 0)
	BEGIN
		SET @AuthStatus = 6 --WrongIMEI
	END
	--ELSE IF (@ImeiCount > 1)
	--BEGIN
	--	SET @AuthStatus = 7 --MultipleIMEI
	--END
	ELSE
	BEGIN
		--SystemSettting<Begin>
		DECLARE @IdleDaysSetting INT = 30
		DECLARE @LoginFailedAttemptSetting INT = 5

		SELECT TOP 1 @IdleDaysSetting = ss.IdleSystemDay
			,@LoginFailedAttemptSetting = ss.LoginFailedAttempt
		FROM SystemSettings ss

		--SystemSettting<End>

		--UserValidCheckDetail<Begin>
		DECLARE @AccountStatus INT
		DECLARE @UserPassword VARCHAR(50)
		DECLARE @IsDeleted BIT
		DECLARE @UserID INT
		DECLARE @UserName VARCHAR(150)

		SELECT @AccountStatus = um.AccountStatus
			,@UserPassword = um.Password
			,@IsDeleted = um.IsDeleted
			,@UserID = um.UserID
			,@UserName = um.LoginName
		FROM dbo.UserMaster um(NOLOCK)
		--INNER JOIN @IMEITable IM ON UM.UserID = IM.UserID

		IF (@IsDeleted = 1)
		BEGIN
			SET @AuthStatus = 2 --Inactive
		END
		ELSE
		BEGIN
		  IF (@LoginName = @UserName)
		  BEGIN
			  IF (@Password = @UserPassword)
			BEGIN
				IF (@AccountStatus = 3)
					SET @AuthStatus = @AccountStatus
				ELSE
				BEGIN
					SET @AuthStatus = 1 --Active & Password Matched

					INSERT INTO dbo.DailyLoginHistory (
						 UserID
						,Lattitude
						,Longitude
						,LoginTime
						,IpAddress
						,BrowserName
						,ApkDeviceName
						,IsLogin
						,APKVersion
						,LoginType
						)
					VALUES (
						 @UserID
						,@lattitude
						,@longitude
						,getdate() -- LoginTime - datetime					   
						,@IpAddress
						,@BrowserName
						,@ApkDeviceName
						,1 -- IsLogin - bit
						,@APKVersion
						,@LoginType
						)
				END
			END
			ELSE
			BEGIN
				SET @AuthStatus = 5 --WrongPassword

				DECLARE @FailedAttempt INT = 0

				SELECT @FailedAttempt = FailedAttempt + 1
				FROM LoginAttemptHistory lah(NOLOCK)
				WHERE lah.UserID = @UserID

				IF (@FailedAttempt IS NOT NULL)
				BEGIN
					UPDATE dbo.LoginAttemptHistory
					SET FailedAttempt = 0
						,LoginDate = GETDATE()
						,Lattitude = @lattitude
						,Longitude = @longitude
						,IpAddress = @IpAddress
					WHERE UserID = @UserID
				END
				ELSE
				BEGIN
					INSERT INTO LoginAttemptHistory (
						UserID
						,FailedAttempt
						,LoginDate
						,Lattitude
						,Longitude
						,IpAddress
						)
					VALUES (
						@UserID
						,1 -- FailedAttempt - int
						,Getdate() -- LoginDate - datetime					    
						,@lattitude -- Lattitude - varchar
						,@longitude -- Longitude - varchar
						,@IpAddress
						)
				END

				IF (@FailedAttempt > 3)
					UPDATE UserMaster
					SET AccountStatus = 3
						,ModifiedDate = getdate()
					WHERE UserID = @UserID
			END
		  END
		  ELSE
		  BEGIN
			  SET @AuthStatus = 8 --Incorrect UserName (Login Name)
		  END
		END
				--UserValidCheckDetail<End>
	END

	SELECT @AuthStatus AS AuthStatus
		,CASE 
			WHEN @AuthStatus = 1
				THEN @UserID
			ELSE 0
			END AS userID
END




GO
/****** Object:  StoredProcedure [dbo].[SpClearLogs]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SpClearLogs] 
	AS
BEGIN
	SET NOCOUNT ON;

	DELETE FROM CategoryLog
	DELETE FROM [ErrorLog]
    DELETE FROM Category
END





GO
/****** Object:  StoredProcedure [dbo].[SPGetLoginDetails]    Script Date: 18/03/19 10:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*** 
   Created Date      :     14-May-2015
   Created By        :     Dhiraj Mishra
   Purpose           :     To check the authentication of user
   
   Test Cases        :
   --------------------------------------------------------------------------   
   --- Test Case 1
    EXEC [SPGetLoginDetails] 1088,1,'871qfvCS4J','efa6319a' , null

   
***/
CREATE PROCEDURE [dbo].[SPGetLoginDetails] (
	 @userID INT	
	,@showAnnouncment BIT = 1
	,@APIKey VARCHAR(50)
	,@APIToken VARCHAR(50)
    ,@APKVersion VARCHAR(7) = NULL
	)
AS
BEGIN    	
	SET NOCOUNT ON;
	
	
	CREATE TABLE #UserLoginDetails (
		 UserID INT NOT NULL
		,RoleID INT NOT NULL
		,RoleName VARCHAR(50) NOT NULL
		,UserRoleID INT
		)

	--,CompanyID INT
	--,EmplCode VARCHAR(50)
	--,FirstName VARCHAR(50)
	--,LastName VARCHAR(50)
	--,Mobile_Calling VARCHAR(50)
	DECLARE @RoleID INT
		,@RoleName VARCHAR(50)
		,@UserRoleID INT

	SELECT TOP 1 @RoleID = ur.RoleID
		,@UserRoleID = ur.UserRoleID
	FROM dbo.UserRoles ur(NOLOCK)
	WHERE ur.UserID = @userID
		AND ur.IsDeleted = 0

	--Profile level flags<Begin>
	SELECT 
		@RoleName = rm.Name	
	FROM dbo.RoleMaster rm(NOLOCK)
	WHERE rm.RoleID = @RoleID

	--Profile level flags<End>
	

	--Generate API KEY & Token<Begin>
	IF EXISTS (
			SELECT 1
			FROM dbo.UserServiceAccess usa(NOLOCK)
			WHERE usa.UserID = @userID
			)
	BEGIN
		UPDATE dbo.UserServiceAccess
		SET APIKey = @APIKey
			,APIToken = @APIToken
			,IsActive = 0
			,ModifiedDate = getdate()
			,ModifiedBy = @userID
		WHERE UserID = @userID
	END
	ELSE
	BEGIN
		INSERT INTO dbo.UserServiceAccess (
			 UserID
			,APIKey
			,APIToken
			,IsActive
			,CreatedDate
			,CreatedBy
			)
		VALUES (
			@userID
			,@APIKey
			,@APIToken
			,1
			,getdate()
			,@userID
			)
	END
	--TRUNCATE TABLE UserLoginDetails
	--Generate API KEY & Token<END>
	INSERT INTO #UserLoginDetails (
		UserID
		,RoleID
		,RoleName		
		,UserRoleID
		)
	VALUES (
		@userID
		,-- UserID - BIGINT
		@RoleID
		-- RoleID - INT
		,@RoleName
		,@UserRoleID -- UserRoleID - bigint
		)
			
	--SELECT l.UserID
	--	,l.RoleID
	--	,l.RoleName
	--	,l.UserRoleID
	--	,um.UserCode
	--	,um.FirstName
	--	,um.LastName
	--	,um.Mobile
	--	,um.LoginName
	--	,um.CompanyId
	--	,ISNULL(um.ImagePath, '') AS  ProfilePictureFileName
	--FROM #UserLoginDetails l
	--INNER JOIN dbo.UserMaster um(NOLOCK) ON l.UserID = um.UserID
	--DROP TABLE #UserLoginDetails

	DECLARE @Result Table(UserID INT, RoleID INT, RoleName VARCHAR(50), UserRoleID INT, EmpCode VARCHAR(50),
	 FirstName VARCHAR(40)
	,LastName VARCHAR(50)
	,Mobile VARCHAR(50)
	,LoginName VARCHAR(150)
	,CompanyId INT
	,ProfilePictureFileName VARCHAR(500))

	INSERT @Result SELECT 
	     l.UserID
		,l.RoleID
		,l.RoleName
		,l.UserRoleID
		,um.EmpCode
		,um.FirstName
		,um.LastName
		,um.Mobile
		,um.LoginName
		,um.CompanyId
		,ISNULL(um.ImagePath, '') AS  ProfilePictureFileName
	FROM #UserLoginDetails l
	INNER JOIN dbo.UserMaster um(NOLOCK) ON l.UserID = um.UserID
	
	DROP TABLE #UserLoginDetails

	select * from @Result
	END


GO
USE [master]
GO
