<?xml version="1.0"?>
<appSettings>
  <add key="APIKeyHeader" value="APIKey"/>
  <add key="APITokenHeader" value="APIToken"/>
  <add key="HeaderUserID" value="userID"/>
  <add key="LatestAPKVersion" value="1.2.5"/>
  <add key="FileProcessorURL" value="http://{0}/SmartDostService/FileProcessor.ashx?id={1}{2}type={3}"/>
  <add key="HostName" value="107.109.144.173"/>
  <add key="GoogleAndroidLoginURL" value="https://www.google.com/accounts/ClientLogin?"/>
  <add key="GoogleAndroidMessageURL" value="https://android.googleapis.com/gcm/send"/>
  <add key="PushRegistrationServerKey" value="AIzaSyAL_xRZeA_96yPT2jdT61zFlHvTDJMSfZ8"/>
  <add key="GeoTagCountThreshold" value="3"/>
  <add key="EncryptionInitVector" value="28smartdost12ggn"/>
  <add key="EncryptionSaltKey" value="SmartDost"/>
  <add key="SamsungDMSConnection" value="SmartDost_DBSync_Connection"/>
  <add key="SchedulerConfigFile" value="Config\Quartz_Job_Scheduling.xml"/>
  <add key="EncryptionDictionary" value="Config\DictionaryEncryption.xml"/>
  <add key="ReportFileFolder" value="ReportFiles"/>
  <add key="ReportDashboardWebURL" value="http://{0}/SmartDostWeb/Report.aspx?IMEI="/>
  <add key="GCMAndroidAppID" value="AIzaSyCSSFVx45M327RPugbO9R23m0t3YpDXdgk"/>
  <add key="GCMAndroidSenderID" value="181299290963"/>
  <add key="CORSAllowedDomains" value="http://localhost"/>

  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" />
  <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />

  <!--Gets the dealer Creation.SDHHP-6114<Begin>
    Added by Gourav Vishnoi on 3 Aug 2015-->
  <add key="QueryServiceURL" value="http://107.110.101.89/QueryService/Service.svc"/>
  <add key="IntegrationServiceURL" value="http://107.110.101.89/SDIntegrationQA/Service.asmx"/>
  <add key="DIVISIONCODE" value="CE"/>
  <add key="SOURCE" value="SD-CE"/>
  <add key="CHANNEL" value="GT"/>
  <add key="SUBCHANNELCODE" value="GT"/>
  <add key="APPROVALSTATUS" value="0"/>
  <add key="PARTNERTYPECODE" value="ID"/>
  <add key="MDMUSERNAME" value="siel"/>
  <add key="MDMPASSWORD" value="siel.1234"/>
  <add key="MDMENCRYPTIONKEY" value="samsung"/>
  <add key="CompanyWebsite" value="http://localhost/DreamWedds.ServiceApp/templates/wedding/"/>
  <add key="WeddingFolder" value="http://dreamwedds.com/templates/wedding/"/>
 <add key="USERFOLDER" value="http://localhost/DreamWedds.ServiceApp/Contents/UserFiles/"/>
  <add key="Domain" value="http://localhost/DreamWedds.ServiceApp/Contents/UserFiles/"/>
  <!--Gets the dealer Creation.SDHHP-6114<End>
    Added by Gourav Vishnoi on 3 Aug 2015-->
</appSettings>

