<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <!--<add name="AccuITAdminEntities"
         connectionString="metadata=res://*/EDMX.AccuITAdmin.csdl|res://*/EDMX.AccuITAdmin.ssdl|res://*/EDMX.AccuITAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.60;initial catalog=DreamWedds;integrated security=False;user id=accuitsql;password=Krishna@2012;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />-->

    <!--<add name="AccuITAdminEntities"
        connectionString="metadata=res://*/EDMX.AccuITAdmin.csdl|res://*/EDMX.AccuITAdmin.ssdl|res://*/EDMX.AccuITAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEER92D2;initial catalog=DreamWedds;integrated security=False;user id=Dreamwedds;password=Krishna@17;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />-->

    <add name="AccuITAdminEntities" connectionString="metadata=res://*/EDMX.AccuITAdmin.csdl|res://*/EDMX.AccuITAdmin.ssdl|res://*/EDMX.AccuITAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NEER92D2;initial catalog=DreamWedds;integrated security=True;User ID=DreamWedds;Password=Krishna@17;App=EntityFramework&quot;"
           providerName="System.Data.EntityClient" />

  </connectionStrings>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />


        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>