
@{
    ViewBag.Title = "Our Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PAGE TITLE START -->
@section PageTitle{
    <section id="title" class="container-fluid wow fadeInDown">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="col-xs-6 text-right breadcrumbs">
                    <ul class="list-inline list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li>/</li>
                        <li>@ViewBag.Title</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
}
<!-- PAGE TITLE END -->     

<!-- CONTENT START -->
<section id="page-content">

            <div id="services-1" class="container padding35">
                <div class="row">

                    <div class="col-md-5 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                        <h2 class="text-uppercase">Why  <b>Dreamwedds</b></h2>

                        <p class="lead">Because This is only for you and your life.</p>
                        <div class="space20"></div>
<p>While your wedding website is about conveying information to your guests, emotionally it’s really for you and your partner. Which means that before you go crazy thinking to have the world’s most interesting wedding website, make sure you actually care about having the world’s most interesting wedding website in the first place. If you want a creative outlet and a cool project that combines our excellent writing style and passionately mad design skills, go for us. If it’s just another chore to cross off the list, well, you can still have a wedding website, but give yourself permission to try just a little less hard on it.</p>
                        
                    </div>

                    <div class="col-md-7 text-right wow fadeIn" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=KK9bwTlAvgo" allowfullscreen=""></iframe>
                        </div>
                    </div>

                </div>
            </div>


            <div id="services-2" class="container-fluid padding35 bg-gray">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
                            <h4 class="text-uppercase">Why Wedding Website for <b>You</b></h4>
                            <p>For all that we’ve talked about how to make your wedding website pretty (hint: Squarespace makes super pretty ones), the truth is, your wedding website is really about conveying information to your guests in order to help them have a good time. Because the number one rule for having a fun wedding is making sure people know what to expect. Sometimes when you’re in the middle of a big project (like, say a wedding), it’s easy to fall into the familiar trap of thinking ALL the information is important. Which leads to glassy eyes glazed over your wedding website, missing all the good stuff. </p>
                        </div>

                        

                        

                    </div>
                </div>
            </div>

            <div id="services-3" class="container-fluid padding35">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 wow bounceIn" style="visibility: visible; animation-name: bounceIn; -webkit-animation-name: bounceIn;">
                            <p><i class="fa fa-star big-icon"></i></p>
                            <h4 class="text-uppercase">We manage your <b>RSVP</b></h4>
                            <p>At dreamwedds we understanding the how hard it is to manage the guestlist for a wedding like event. you do not want anuone to be missed from the list. Yo achieve that we have created a RSVP section in most of our wedding themes. Using which your friends and relatives can post to you about there plans and other things. So it is always better to give your guests a privilege.</p>
                        </div>

                        <div class="col-md-8 wow bounceIn" style="visibility: visible; animation-name: bounceIn; -webkit-animation-name: bounceIn;">
                            <p><i class="fa fa-rocket big-icon"></i></p>
                            <h4 class="text-uppercase">INFORM, DON’T <b>INSTRUCT</b></h4>
                            <p>A wedding website is a quick way to let your guests know the important details about your wedding, like where it is, and when, so that they don’t come and bug you for directions to the reception when they lose the invitation (cough, me). But don’t confuse informing with instructing. Informing means giving people all the important details they need to make an informed decision about how to approach your wedding (e.g., the grass is going to be like quicksand, so it might not be friendly for stilettos and other high heeled shoes). Instructing is telling people how they should approach your wedding (e.g., we’re getting married outdoors, so no fancy shoes allowed). No matter how nicely you phrase it, or how helpful your intentions are, no one likes to be told what to do, especially older guests who have been going to weddings for longer than you’ve been alive. So consider your wedding website the one place where we support #BanBossy, and encourage helpful information instead.</p>
                        </div>

                        

                    </div>
                </div>
            </div>

            <div id="services-4" class="container-fluid padding35 bg-gray">
                <div class="container">
                    <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
                        <div class="col-md-12">
                            <h3 class="text-uppercase">More <b>Features</b></h3>
                        </div>
                    </div>
                    <div class="row wow fadeIn" style="visibility: visible;">

                        <div class="col-md-4">
                            <div class="feature">
                                <i class="fa fa-bar-chart"></i>
                                <h4 class="text-uppercase">Perfect Cover Page</h4>
                                <p>Cover page on your website tells how was your wedding. </p>
                            </div>
                            <div class="feature">
                                <i class="fa fa-star"></i>
                                <h4 class="text-uppercase">Add Your Favorites</h4>
                                <p>Add favorite persons of your life in and show em your love.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature">
                                <i class="fa fa-mobile"></i>
                                <h4 class="text-uppercase">Mobile Friendly</h4>
                                <p>All our wedding themes are absolutely mobile friendly</p>
                            </div>
                            <div class="feature">
                                <i class="fa fa-rocket"></i>
                                <h4 class="text-uppercase">Venue Map</h4>
                                <p>Take rest and leave navigation for venue to wedding site.</p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="feature">
                                <i class="fa fa-support"></i>
                                <h4 class="text-uppercase">Customer Support</h4>
                                <p>We always stand where ever you need us. </p>
                            </div>
                            <div class="feature">
                                <i class="fa fa-bank"></i>
                                <h4 class="text-uppercase">Ready for Wedding</h4>
                                <p>If you have a beautiful wedding site then you are ready.</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </section>
<!-- CONTENT END -->