
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Patrick & Gloria</title>
    <script type="text/javascript">
        //<![CDATA[
        try { if (!window.CloudFlare) { var CloudFlare = [{ verbose: 0, p: 0, byc: 0, owlid: "cf", bag2: 1, mirage2: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/dok3v=1613a3a185/" }, atok: "464d55b3ae74f53525146121ee56e8cf", petok: "b3ff08050cc26660dde0e0c392a717d2202a8ff2-1497287868-1800", zone: "template-help.com", rocket: "0", apps: { "abetterbrowser": { "ie": "7" } } }]; !function (a, b) { a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js", b.parentNode.insertBefore(a, b) }() } } catch (e) { };
        //]]>
    </script>
    <link rel="icon" href="https://livedemo00.template-help.com/wt_52073/img/fi.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://livedemo00.template-help.com/wt_52073/img/fi.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">

    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/device.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>

    <!--[if lt IE 9]>
        <div style='text-align:center'><a href="https://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="https://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
    <![endif]-->
</head>
<body>
    <div id="webSiteLoader"></div>
    <div id="glob-wrap">
        <header></header>

        <article id="content" data-follow="location" data-type="switcher" data-behavior="scroll" data-scroll-property="scrollLeft">
            <div data-id="" id="home" class="page parallax">
                <div>
                    <span class="elements">
                        <em class='element_1' data-stellar-ratio="4"></em>
                        <em class='element_2' data-stellar-ratio="5"></em>
                        <em class='element_3' data-stellar-ratio="6"></em>
                        <em class='element_4' data-stellar-ratio="4"></em>
                        <em class='element_5' data-stellar-ratio="5"></em>
                        <em class='element_6' data-stellar-ratio="6"></em>
                        <em class='element_7' data-stellar-ratio="4"></em>
                        <em class='element_8' data-stellar-ratio="5"></em>
                        <em class='element_9' data-stellar-ratio="6"></em>
                        <em class='element_10' data-stellar-ratio="4"></em>
                        <em class='element_11' data-stellar-ratio="5"></em>
                        <em class='element_12' data-stellar-ratio="2"></em>
                        <em class='element_13' data-stellar-ratio="6"></em>
                        <em class='element_14' data-stellar-ratio="4"></em>
                        <em class='element_15' data-stellar-ratio="6"></em>
                        <em class='element_16' data-stellar-ratio="3"></em>
                        <em class='element_17' data-stellar-ratio="2"></em>
                    </span>

                    <div class="container">
                        <h1>
                            <a href="./" class="navbar-brand perspective">
                                <!-- <img id="logo1" src="https://livedemo00.template-help.com/wt_52073/img/logo_icone.png" alt="" data-stellar-ratio="4"> -->
                                <em class="slogan1">Patrick <span class="">&</span> Gloria</em>
                                <img id="logo2" src="https://livedemo00.template-help.com/wt_52073/img/logo_border.png" alt="">
                                <em class="slogan2">are getting married</em>
                            </a>


                        </h1>
                        <div class="row">
                            <div class="col-lg-12 parallax">
                                <div class='perspective'>
                                    <p id="mouse-hint" data-stellar-ratio="3">Use mouse or keyboard <br>to navigate</p>
                                    <img id="bg-page-1" src="https://livedemo00.template-help.com/wt_52073/img/p1_pic1.png" data-stellar-ratio="2" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-id="about" id="about" class="page parallax">
                <div>
                    <span class="elements">
                        <em class='element_18' data-stellar-ratio="3"></em>
                        <em class='element_19' data-stellar-ratio="5"></em>
                        <em class='element_20' data-stellar-ratio="8"></em>
                        <em class='element_21' data-stellar-ratio="4"></em>
                        <em class='element_22' data-stellar-ratio="5"></em>
                        <em class='element_23' data-stellar-ratio="8"></em>
                        <em class='element_24' data-stellar-ratio="4"></em>
                        <em class='element_25' data-stellar-ratio="5"></em>
                        <em class='element_26' data-stellar-ratio="6"></em>
                        <em class='element_27' data-stellar-ratio="2"></em>
                        <em class='element_28' data-stellar-ratio="5"></em>
                        <em class='element_29' data-stellar-ratio="7"></em>
                        <em class='element_30' data-stellar-ratio="2"></em>

                    </span>

                    <div class="container">
                        <div class="row">

                            <img id="bg-page-2" src="https://livedemo00.template-help.com/wt_52073/img/p2_pic3.png" data-stellar-ratio="2" alt="">
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0  col-sm-offset-0 col-sm-5 col-xs-offset-0 col-xs-12  mar_t_170 tac">
                                <img src="https://livedemo00.template-help.com/wt_52073/img/p2_pic1.png" alt="" class='img_resize'>
                                <div class="pad_1">
                                    <h2 class='mar_t_4'>Gloria Mann</h2>
                                    <p class="mar_t_2">
                                        Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.
                                    </p>
                                    <ul class="follow-links">
                                        <li><a href="#"><i class="fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa-facebook"></i></a></li>
                                    </ul>
                                </div>

                            </div>

                            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4  col-sm-offset-2 col-sm-5 col-xs-offset-0 col-xs-12  mar_t_170 tac">
                                <img src="https://livedemo00.template-help.com/wt_52073/img/p2_pic2.png" alt="" class='img_resize'>
                                <div class="pad_1">
                                    <h2 class='mar_t_4'>Patrick Pool</h2>
                                    <p class="mar_t_2">
                                        Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla vene
                                    </p>
                                    <ul class="follow-links">
                                        <li><a href="#"><i class="fa-pinterest"></i></a></li>
                                        <li><a href="#"><i class="fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa-facebook"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-id="wedding" id="wedding" class="page parallax">

                <div>
                    <span class="elements">
                        <em class='element_31' data-stellar-ratio="3"></em>
                        <em class='element_32' data-stellar-ratio="5"></em>
                        <em class='element_33' data-stellar-ratio="8"></em>
                        <em class='element_34' data-stellar-ratio="4"></em>
                        <em class='element_35' data-stellar-ratio="5"></em>
                        <em class='element_36' data-stellar-ratio="8"></em>
                        <em class='element_37' data-stellar-ratio="4"></em>
                        <em class='element_38' data-stellar-ratio="5"></em>
                        <em class='element_39' data-stellar-ratio="6"></em>
                        <em class='element_40' data-stellar-ratio="2"></em>
                        <em class='element_41' data-stellar-ratio="5"></em>
                        <em class='element_42' data-stellar-ratio="7"></em>
                        <em class='element_43' data-stellar-ratio="8"></em>

                    </span>

                    <div class="container">
                        <img id="bg-page-3" src="https://livedemo00.template-help.com/wt_52073/img/p3_pic1.png" data-stellar-ratio="2" alt="">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0  col-sm-offset-0 col-sm-5 col-xs-offset-0 col-xs-12  mar_t_170 tac">
                                <div id="p3_block1">
                                    <h3>main ceremony</h3>
                                    <div class="pad_2">
                                        <p class="p1">
                                            Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.
                                        </p>
                                        <div class="bord_1"></div>
                                        <div class="extra-wrap mar_t_1">
                                            <div class="p3_block3 mar_r_2">
                                                <img src="https://livedemo00.template-help.com/wt_52073/img/p3_pic3.png" alt="" class='img_indent pad_t_1'>
                                                <div class="extra-wrap">
                                                    <p class="">12:00 p.m.</p>
                                                    <p class="">15:00 p.m.</p>
                                                </div>
                                            </div>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p3_pic4.png" alt="" class='img_indent_1'>
                                            <div class="p3_block3">
                                                <img src="https://livedemo00.template-help.com/wt_52073/img/p3_pic5.png" alt="" class='img_indent pad_t_1'>
                                                <div class="extra-wrap">
                                                    <p class="">Monday 9</p>
                                                    <p class="">July 2014</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bord_2"></div>
                                        <a href="./readmore.html" class="btn btn-default">welcome</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4  col-sm-offset-2 col-sm-5 col-xs-offset-0 col-xs-12  mar_t_170 tac">
                                <div id="p3_block2">
                                    <h3>wedding party</h3>
                                    <div class="pad_2">
                                        <p class="p1">
                                            Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.
                                        </p>
                                        <div class="bord_1"></div>
                                        <div class="extra-wrap mar_t_1">
                                            <div class="p3_block3 mar_r_2">
                                                <img src="https://livedemo00.template-help.com/wt_52073/img/p3_pic3.png" alt="" class='img_indent pad_t_1'>
                                                <div class="extra-wrap">
                                                    <p class="">15:00 p.m.</p>
                                                    <p class="">7:00 p.m.</p>
                                                </div>
                                            </div>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p3_pic4.png" alt="" class='img_indent_1'>
                                            <div class="p3_block3">
                                                <img src="https://livedemo00.template-help.com/wt_52073/img/p3_pic5.png" alt="" class='img_indent pad_t_1'>
                                                <div class="extra-wrap">
                                                    <p class="">Monday 9</p>
                                                    <p class="">July 2014</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bord_2"></div>
                                        <a href="./readmore.html" class="btn btn-default">welcome</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div data-id="gallery" id="gallery" class="page parallax">
                <div>
                    <span class="elements">
                        <em class='element_44' data-stellar-ratio="3"></em>
                        <em class='element_45' data-stellar-ratio="5"></em>
                        <em class='element_46' data-stellar-ratio="8"></em>
                        <em class='element_47' data-stellar-ratio="4"></em>
                        <em class='element_48' data-stellar-ratio="5"></em>
                        <em class='element_49' data-stellar-ratio="8"></em>
                        <em class='element_50' data-stellar-ratio="4"></em>
                        <em class='element_51' data-stellar-ratio="5"></em>
                        <em class='element_52' data-stellar-ratio="6"></em>
                        <em class='element_53' data-stellar-ratio="9"></em>
                        <em class='element_54' data-stellar-ratio="5"></em>
                        <em class='element_55' data-stellar-ratio="7"></em>
                        <em class='element_56' data-stellar-ratio="8"></em>

                    </span>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 ">

                                <ul class="gallery_1">
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="1"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev1.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">



                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="2"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev2.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="3"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev3.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="4"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev4.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="5"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev5.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="6"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev6.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="7"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev7.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="8"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev8.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="9"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev9.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="10"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev10.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="11"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev11.jpg" alt=""></a>
                                        </div>
                                    </li>
                                    <li class="g_item">
                                        <div class="box">
                                            <div class="circ">

                                            </div>
                                            <a href="./album.html" class="gall_item" data-gall-number="12"><img src="https://livedemo00.template-help.com/wt_52073/img/gallery_prev12.jpg" alt=""></a>
                                        </div>
                                    </li>

                                </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-id="bridesmaids" id="bridesmaids" class="page parallax">
                <div>
                    <span class="elements">
                        <em class='element_57' data-stellar-ratio="3"></em>
                        <em class='element_58' data-stellar-ratio="5"></em>
                        <em class='element_59' data-stellar-ratio="8"></em>
                        <em class='element_60' data-stellar-ratio="4"></em>
                        <em class='element_61' data-stellar-ratio="5"></em>
                        <em class='element_62' data-stellar-ratio="8"></em>
                        <em class='element_63' data-stellar-ratio="4"></em>
                        <em class='element_64' data-stellar-ratio="5"></em>


                    </span>
                    <div class="container">
                        <div class="row mar_t_170">
                            <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0  col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12 tac">
                                <h4>Bridesmaids</h4>
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p4_pic1.jpg" alt="" class=''>
                                            <h2 class='mar_t_3'>Laura Stegner</h2>
                                            <p class="mar_t_1">
                                                Mauris accumsan nulla vel diam. Sed in lacus ut enim adipis cing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus raesent
                                            </p>
                                        </li>
                                        <li>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p4_pic2.jpg" alt="" class=''>
                                            <h2 class='mar_t_3'>Mary Parker</h2>
                                            <p class="mar_t_1">
                                                Mauris accumsan nulla vel diam. Sed in lacus ut enim adipis cing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus raesent
                                            </p>
                                        </li>
                                        <li>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p4_pic3.jpg" alt="" class=''>
                                            <h2 class='mar_t_3'>Kate Archives</h2>
                                            <p class="mar_t_1">
                                                Mauris accumsan nulla vel diam. Sed in lacus ut enim adipis cing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus raesent
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0  col-sm-offset-0 col-sm-6 col-xs-offset-0 col-xs-12 tac mar_port_android_1">
                                <h4>Groomsmen</h4>
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p4_pic4.jpg" alt="" class=''>
                                            <h2 class='mar_t_3'>Alan Smith</h2>
                                            <p class="mar_t_1">
                                                Mauris accumsan nulla vel diam. Sed in lacus ut enim adipis cing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus raesent
                                            </p>
                                        </li>
                                        <li>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p4_pic5.jpg" alt="" class=''>
                                            <h2 class='mar_t_3'>Paul Walker</h2>
                                            <p class="mar_t_1">
                                                Mauris accumsan nulla vel diam. Sed in lacus ut enim adipis cing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus raesent
                                            </p>
                                        </li>
                                        <li>
                                            <img src="https://livedemo00.template-help.com/wt_52073/img/p4_pic6.jpg" alt="" class=''>
                                            <h2 class='mar_t_3'>Josh Smith</h2>
                                            <p class="mar_t_1">
                                                Mauris accumsan nulla vel diam. Sed in lacus ut enim adipis cing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus raesent
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div data-id="contacts" id="contacts" class="page parallax">

                <div>
                    <span class="elements">
                        <em class='element_1' data-stellar-ratio="4"></em>
                        <em class='element_2' data-stellar-ratio="5"></em>
                        <em class='element_3' data-stellar-ratio="6"></em>
                        <em class='element_4' data-stellar-ratio="4"></em>
                        <em class='element_5' data-stellar-ratio="5"></em>
                        <em class='element_6' data-stellar-ratio="6"></em>
                        <em class='element_7' data-stellar-ratio="4"></em>
                        <em class='element_8' data-stellar-ratio="5"></em>
                        <em class='element_9' data-stellar-ratio="6"></em>
                        <em class='element_10' data-stellar-ratio="4"></em>
                        <em class='element_11' data-stellar-ratio="5"></em>
                        <em class='element_12' data-stellar-ratio="2"></em>
                        <em class='element_14' data-stellar-ratio="4"></em>
                        <em class='element_15' data-stellar-ratio="6"></em>
                        <em class='element_16' data-stellar-ratio="3"></em>
                        <em class='element_17' data-stellar-ratio="2"></em>
                    </span>
                    <div class="container">
                        <div class="row mar_t_170">
                            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-offset-0 col-sm-12 col-xs-offset-0 col-xs-12 tac">
                                <div class="map_bord">
                                    <div class="g-map">
                                        <iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3  col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12 tac mar_t_2">
                                <h2>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</h2>
                                <p class="">
                                    Freephone: +1 800 559 6580<br>Telephone: +1 959 603 6035<br>FAX: +1 504 889 9898<br>E-mail: <a href="#" class=""><span class="__cf_email__" data-cfemail="99f4f8f0f5d9fdfcf4f6f5f0f7f2b7f6ebfe">[email&#160;protected]</span>
                                    <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function (t, e, r, n, c, a, p) { try { t = document.currentScript || function () { for (t = document.getElementsByTagName('script'), e = t.length; e--;) if (t[e].getAttribute('data-cfhash')) return t[e] }(); if (t && (c = t.previousSibling)) { p = t.parentNode; if (a = c.getAttribute('data-cfemail')) { for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2) e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2); p.replaceChild(document.createTextNode(decodeURIComponent(e)), c) } p.removeChild(t) } } catch (u) { } }()/* ]]> */</script></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>

        <div id="other_pages" data-follow="location" data-type="switcher" data-flags="ajax">
        </div>

        <footer>

            <div class="copyright"><a href="./" class="footer_logo">Patrick & Gloria</a><br>&copy; <span id="year"></span> &bull; <a href="./privacy.html" class='privacy'>Privacy Policy</a><br><!-- {%FOOTER_LINK} --></div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0  col-sm-offset-3 col-sm-9 col-xs-offset-0 col-xs-12 tal">
                        <!--menu-->
                        <nav class="mainNav" data-follow="location" data-type="navigation">
                            <ul>
                                <li>
                                    <a href="./about">About Us<span></span></a>
                                    <div class="sf-mega">
                                        <ul>
                                            <li>
                                                <a href="./readmore.html">about</a>
                                                <ul>
                                                    <li><a href="./readmore.html">testimonials</a></li>
                                                    <li class="last"><a href="./readmore.html">specials</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="./readmore.html">history</a></li>
                                            <li class="last"><a href="./readmore.html">our staff</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="./wedding">Our Wedding<span></span></a></li>
                                <li><a href="./gallery">Photo Album<span></span></a></li>
                                <li><a href="./bridesmaids">Bridesmaids & Groomsmen<span></span></a></li>
                                <li><a href="./contacts">Contacts<span></span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <ul class="follow-links">

                <li><a href="#"><i class="fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa-facebook"></i></a></li>
            </ul>
        </footer>
    </div>
    <!-- coded by cactus -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7078796-5']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();</script>
</body><!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>